<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @user.full_name %> from <%= @user.company.title %>,</p>

    <p>Welcome and thank you for registering your interest. Once we've reviewed yoru company's profile, we will send you an email.</p>

    <p>Also feel free to reply here if you've any questions or certain tech stacks/talent you are looking for.</p>

    <p>Also, feel free to reply me here if you've a certain tech stacks/ talent which you want to hire.</p>

    <p>Sincerely,</p>
    <p>Audrey Ling</p>
    <p>NEXT Academy</p>
  </body>
</html>