/* backup
$cyan-dark: #002b36;
$gray-dark: #1c1d1d;
*/

$gray-dark: #3b3b3f;
$gray-light: #d0cdcd;

$cyan-dark: #002b36;

$yellow-main: #edb83b;

$orange-main: darken(#EE8E4A, 10%);

$brown-main: #664630;